*,body {
  font-family:  monospace;
  color: #239ee2;
  box-sizing:border-box;
}

h1 {
  text-align: center;
}

#notes {
  margin: 0 auto;
  width: 90%;
}

.note {
  background-color: #ffffff;
  border: 2px solid #cbe9f9;
  padding: 15px;
}

.controls {
    position: relative;
    padding: 10px 0 105px;
}

form {
  position:relative;
  width: 90%;
  margin:0 auto;
}

input,
button {
  padding: 15px 0;
  border: 2px solid;
  border-radius: 0;
  line-height: 5px;
  height:48px;
  font-family:helvetica;
}

input {
  font-family: monospace;
  width: 90%;
  margin: 0;
  float:left;
  border-right: 0 solid;
  font-size:15px;
  padding-left: 15px;
}

.add-btn {
  font-size: 30px;
  color: #239ee2;
  background-color: #cbe9f9;
  margin:0;
  border-left: 0px solid;
  float:left;
  width:10%;
  padding-right: 1px;

}

.add-btn:hover {
  cursor: pointer;
  background-color: #239ee2;
  border: 2px solid #239ee2;
  border-left: 0 solid;
  color: #fff;
}

.add-btn:focus {
  outline: none;
}


.control-btn {
  float:right;
  width: fit-content;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 30px;
  border: 0 solid;
}

.remove {
  background-color:#f9cbcb;
  color: #e22323;
  margin: 10px 5% 0 0;
}

.remove:hover {
  color:#fff;
  background-color: #e22323;
}

.lucky {
  background-color:#d3f9cb;
  color: #23e22e;
  margin: 10px;

}

.lucky:hover {
  color:#fff;
  background-color: #23e22e;}